.container{
    display: grid;
    height: 100vh;
    border: 10px solid black;
    justify-content: center;
    align-items: center;
}
.gameboard{
    background-color: skyblue;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    justify-items: center;
    padding: 20px 20px;
    overflow: auto;
}
.card{
    border: 2px solid rgba(0, 0, 0, 0.583);
    display: flex;
    justify-content: center;
    width: 7vw;
    height: 7vw;
    align-items: center;
    box-sizing: border-box;
    padding: 50px;
    font-size: 30px;
    cursor: pointer;
}
.user{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.container>h1{
    width: fit-content;
    margin: auto;
}
.user>label{
    cursor: pointer;
    box-shadow: 0 0 5px rgb(0,0,0,0.25);
    padding: 10px 14px;
    background-color: rgba(0, 128, 0, 0.21);
    border-radius: 10px;
    transition: all 0.3s;
}
.user>input{
    display: none;
}
input:checked + label{
    background-color: green;
    color: white;
}
.winnerName{
    padding: 20px;
    width: 12vw;
    outline: none;
    font-size: 18px;
    /* border: 2px solid red; */
}
.declareWinner{
    text-align: center;
    height:3.5vw;
    width: 20vw;
}
.submitName{
    padding: 15px 25px;
    width: fit-content;
    margin-top: 10px;
    background-color: greenyellow;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.replay{
    padding: 15px 25px;
    width: fit-content;
    background-color: rgba(0, 0, 255, 0.694);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.mainDiv{
    display: flex;
    align-items: center;
    width: 80vw;
    flex-direction: column;
}
